---
layout: page
title: Typography
intro: Ipsum qui culpa laboris irure enim irure ullamco Lorem incididunt velit.
page_class: typography
---

<div class="cf-card">
  <div class="cf-card__inner">
    <p>{{specimens.fontFamily}}</p>
    <p>{{specimens.alphabet}}</p>
    <p>{{specimens.digits}}</p>
    <p>{{specimens.punctuation}}</p>
    <p>{{specimens.characters}}</p>
    <p>{{specimens.math}}</p>
  </div>
</div>

<div class="cf-card">
  <div class="cf-card__inner">
    <h1>{{specimens.heading}}</h1>
    <h2>{{specimens.heading}}</h2>
    <h3>{{specimens.heading}}</h3>
    <h4>{{specimens.heading}}</h4>
    <h5>{{specimens.heading}}</h5>
    <h6>{{specimens.heading}}</h6>
  </div>
</div>

<div class="cf-card">
  <div class="cf-card__inner">
    <p>{{specimens.sentence}}</p>
    <p>{{specimens.paragraph}}</p>
  </div>
</div>
