aside.cf-sidebar
  .cf-sidebar__inner
    .cf-sidebar__heading
      h2= 'Chef'
        small=' styleguide'
    nav.cf-navbar
      ul.cf-navbar__nav.js-accordion
        li.cf-navbar__nav-item
          a(href="#")= 'Introdution'
        li.cf-navbar__nav-item
          a(href="#")= 'Download'
        li.cf-navbar__nav-item
          a(href="#")= 'Logotype'
        li.cf-navbar__nav-item
          a(href="#")= 'Colors'
        li.cf-navbar__nav-item
          a(href="#")= 'Typografy'
        li.cf-navbar__nav-item
          a(href="#")= 'Grid system'
        li.cf-navbar__nav-item
          a(href="#").js-accordion-trigger= 'Components'
          ul.is-hidden
            li
              a(href="#")= 'test accordion'
        li.cf-navbar__nav-item
          a(href="#").js-accordion-trigger= 'Utility'
          ul.is-hidden
            li
              a(href="#")= 'test accordion'
