aside.cf-sidebar
  .cf-sidebar__inner
    .cf-sidebar__heading
      h2= 'Chef'
        small=' styleguide'
    nav.cf-navbar
      ul.cf-navbar__nav.js-accordion
        each title, link in pages
          li.cf-navbar__nav-item
            a(href=base_url + link)= title

        li.cf-navbar__nav-item
          a(href="#").js-accordion-trigger= 'Components'
          ul.is-hidden
            li
              a(href="#")= 'test accordion'
        li.cf-navbar__nav-item
          a(href="#").js-accordion-trigger= 'Utility'
          ul.is-hidden
            li
              a(href="#")= 'test accordion'
