aside.cf-sidebar
  .cf-sidebar__inner
    .cf-sidebar__heading
      h2= 'Chef'
        small=' styleguide'
    nav.cf-navbar
      ul.cf-navbar__nav
        li.cf-navbar__nav-item
          a(href="#").js-accordion= 'Download'
          ul
            li
              a(href="#")= 'test accordion'
        li.cf-navbar__nav-item
          a(href="#")= 'Setup'
          ul
            li
              a(href="#")= 'test accordion'
        li.cf-navbar__nav-item
          a(href="#")= 'Components'
          ul
            li
              a(href="#")= 'test accordion'
        li.cf-navbar__nav-item
          a(href="#")= 'Odds & Ends'
          ul
            li
              a(href="#")= 'test accordion'
        li.cf-navbar__nav-item
          a(href="#")= 'Support'
          ul
            li
              a(href="#")= 'test accordion'
        li.cf-navbar__nav-item
          a(href="#")= 'GitHub'
          ul
            li
              a(href="#")= 'test accordion'
